node_modules/
dist/
.next/
.env
.env.local
.env.*.local
.env.production

uploads/
*.log
*.dump

.DS_Store
Thumbs.db

coverage/

apps/api/dist/
apps/api/uploads/
apps/web/.next/

*.tsbuildinfo
*.js.map

infra/ssl/*
!infra/ssl/.gitkeep
infra/nginx/.htpasswd

# Prisma SQLite dev
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal